@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");
@import "reset.css";
@import "variables";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
/* Screens */
@import "screens/login.css";
@import "screens/friends.css";

input:focus {
  outline: none;
}

body {
  font-family: "Pushster", cursive;
  color: #2e363e;
  height: 1000vh;
}
