#firends-display-link {
  text-align: center;
  display: block;
  background-color: whitesmoke;
  padding: 14px 0px;
}

#firends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
