.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  align-items: center;
}

.screen-header__title {
  font-size: 35px;
}

.screen-header__icons span {
  margin-left: 22px;
}
